---

export interface Props {
    class?: string;
}

const { class: className } = Astro.props;

---
<div style={{
    background: `radial-gradient(rgb(var(--colors-surface)/1) 0%,rgb(var(--colors-surface)/0) 50%) no-repeat`,
}} class={"absolute bg-primary top-0 left-0 w-full h-full -z-10 scale-[3] "+className}></div>