---
import {Header} from "@components/Header"
---

<a class="absolute left-8 top-12 z-20 hidden md:block" href="/" title="Retour à l'accueil">

    <svg class="h-8 w-auto z-10 relative" width="1721" height="338" viewBox="0 0 1721 338" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M746.408 332.436H805.857V4.53183H746.408V332.436Z" fill="url(#paint0_linear_26799_305)"/>
        <path d="M1139.53 4.54638L859.521 332.448H932.275L1212.32 4.54638H1139.53Z"
              fill="url(#paint1_linear_26799_305)"/>
        <path d="M1213.98 332.429H1141.23L1085.96 267.742L1030.61 332.429H957.823L1085.96 182.513L1213.98 332.429Z"
              fill="#2B34DA"/>
        <path d="M1113.55 4.54676H1040.8L985.539 69.2334L930.19 4.54676H857.398L985.539 154.461L1113.55 4.54676Z"
              fill="#2B34DA"/>
        <path d="M1265.47 332.436H1324.92V4.53183H1265.47V332.436Z" fill="url(#paint2_linear_26799_305)"/>
        <path d="M1710 82.1736C1703.09 65.3656 1693.62 50.8496 1681.4 38.7096C1669.21 26.6136 1654.74 17.1056 1638.1 10.2722C1621.34 3.39624 1603.25 0.000223796 1583.56 0.000223796H1556.35V59.4229H1583.56C1594.98 59.4229 1605.46 61.2909 1614.97 65.0256C1624.52 68.7616 1632.67 74.0242 1639.42 80.7736C1646.25 87.6069 1651.51 95.7562 1655.21 105.263C1658.94 114.814 1660.81 125.424 1660.81 137.14V199.831C1660.81 211.546 1658.94 222.199 1655.21 231.707C1651.51 241.258 1646.21 249.407 1639.29 256.198C1632.46 262.99 1624.27 268.252 1614.8 271.987C1605.25 275.722 1594.64 277.547 1583.05 277.547H1556.35V337.012H1583.56C1603.25 337.012 1621.34 333.66 1638.1 326.868C1654.74 320.078 1669.21 310.612 1681.4 298.388C1693.62 286.207 1703.09 271.691 1710 254.924C1716.84 238.159 1720.32 219.823 1720.32 199.831V137.14C1720.32 117.36 1716.84 99.0242 1710 82.1736Z"
              fill="#2B34DA"/>
        <path d="M1448.42 10.272C1431.65 17.1053 1417.18 26.6133 1405 38.7093C1392.73 50.8493 1383.22 65.3653 1376.26 82.1733C1369.34 99.024 1365.86 117.36 1365.86 137.14V199.831C1365.86 219.823 1369.34 238.159 1376.26 254.924C1383.22 271.691 1392.73 286.207 1405 298.388C1417.18 310.612 1431.65 320.077 1448.42 326.868C1465.18 333.66 1483.35 337.012 1503.04 337.012H1529.83V277.547H1503.04C1491.46 277.547 1480.93 275.721 1471.38 271.987C1461.83 268.252 1453.68 262.989 1446.8 256.197C1439.93 249.407 1434.66 241.257 1430.93 231.707C1427.15 222.199 1425.33 211.545 1425.33 199.831V137.14C1425.33 125.424 1427.15 114.813 1430.93 105.263C1434.66 95.756 1439.93 87.6067 1446.8 80.7733C1453.68 74.024 1461.83 68.7613 1471.38 65.0253C1480.93 61.2907 1491.46 59.4227 1503.04 59.4227H1529.83V0H1503.04C1483.35 0 1465.18 3.39599 1448.42 10.272Z"
              fill="#2B34DA"/>

        <path d="M268.448 4.53314V175.188H268.511V272.983H163.951C162.121 272.983 158.267 272.721 152.401 272.184C146.532 271.651 139.748 270.32 132.051 268.18C124.351 266.049 116.235 262.773 107.699 258.351C99.1586 253.931 91.3106 247.832 84.1466 240.057C76.9813 232.282 71.072 222.603 66.4253 211.017C61.772 199.435 59.4493 185.257 59.4493 168.484V4.53314H0V168.484C0 187.692 2.28664 205.112 6.85864 220.733C11.432 236.362 17.7187 250.232 25.7227 262.352C33.7253 274.47 43.0613 284.952 53.732 293.792C64.404 302.637 75.8013 309.914 87.9213 315.632C100.04 321.348 112.576 325.577 125.536 328.32C138.488 331.064 151.293 332.436 163.951 332.436H297.948C302.059 332.436 305.945 331.674 309.604 330.15C313.264 328.629 316.465 326.531 319.209 323.864C321.952 321.195 324.087 318.029 325.611 314.372C327.136 310.713 327.899 306.749 327.899 302.481V4.53314H268.448Z"
              fill="url(#paint3_linear_26799_305)"/>
        <path d="M437.838 273.191H378.288V92.7576H437.754L437.838 273.191Z" fill="#2B34DA"/>
        <path d="M437.854 332.445H567.991C587.685 332.445 605.894 329.049 622.702 322.173C639.425 315.339 653.941 305.831 666.123 293.691C678.305 281.595 687.855 267.121 694.774 250.355C701.777 233.59 705.173 215.211 705.173 195.219V141.739C705.173 121.918 701.777 103.581 694.774 86.7312C687.855 69.9219 678.305 55.4486 666.123 43.3099C653.941 31.2126 639.425 21.6632 622.702 14.8286C605.894 7.9539 587.685 4.55791 567.991 4.55791H465.783V63.9806H567.991C579.621 63.9806 590.147 65.8899 599.697 69.6259C609.205 73.3606 617.397 78.6232 624.23 85.3726C631.106 92.1632 636.411 100.355 640.189 109.949C643.882 119.583 645.75 130.151 645.75 141.739V195.219C645.75 206.978 643.882 217.631 640.189 227.181C636.411 236.689 631.106 244.838 624.23 251.586C617.397 258.378 609.205 263.683 599.697 267.377C590.147 271.111 579.621 273.022 567.991 273.022L437.854 273.191V332.445Z"
              fill="#2B34DA"/>
        <path d="M378.288 63.981H437.753V4.55844H378.288V63.981Z" fill="url(#paint4_linear_26799_305)"/>
        <defs>
            <linearGradient id="paint0_linear_26799_305" x1="860.158" y1="340.046" x2="860.158" y2="-4.10376"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#1B4AF5"/>
                <stop offset="1" stop-color="#2E69FF"/>
            </linearGradient>
            <linearGradient id="paint1_linear_26799_305" x1="860.16" y1="340.033" x2="860.16" y2="-4.12033"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#1B4AF5"/>
                <stop offset="1" stop-color="#2E69FF"/>
            </linearGradient>
            <linearGradient id="paint2_linear_26799_305" x1="1610.93" y1="340.034" x2="1610.93" y2="-4.10361"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#1B4AF5"/>
                <stop offset="1" stop-color="#2E69FF"/>
            </linearGradient>
            <linearGradient id="paint3_linear_26799_305" x1="860.157" y1="340.046" x2="860.157" y2="-4.10531"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#1B4AF5"/>
                <stop offset="1" stop-color="#2E69FF"/>
            </linearGradient>
            <linearGradient id="paint4_linear_26799_305" x1="408.021" y1="335.386" x2="408.021" y2="0.537243"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#1B4AF5"/>
                <stop offset="1" stop-color="#2E69FF"/>
            </linearGradient>
        </defs>
    </svg>
</a>

<Header transition:persist-props client:only="react"/>
