---
import {getCollection} from "astro:content";
import Layout from "@layouts/Layout.astro";
import {Button, Card, classNames} from "@udixio/ui";
import {BackgroundColor} from "../../components/BackgroundColor";
import {faArrowRight} from "@fortawesome/pro-regular-svg-icons";
import Realisations from "../../components/Realisations.astro";

const realisations = await getCollection('realisation');
realisations.sort((a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity));
---
<Layout seo={{
    title: `Agence de conseil en stratégie digitale écoresponsable & SEO • udixio.fr`,
    description: "Udixio est une agence experte dans la création de sites web éco-conçus et optimisés pour le SEO. Optez pour des solutions digitales durables et performantes.",
}}>

    <section class="relative z-20 pt-20 ">
        <div class="max-width min-h-[75vh] padding-x flex items-center justify-center">
            <div
                    class="flex items-center flex-col relative">
                <h1 class="text-display-small md:text-display-large text-center max-w-4xl mt-4">Nos réalisations</h1>
                <p class="mt-8 text-body-large mx-auto max-w-prose text-center">Chaque réalisation de notre agence
                    digitale
                    Udixio est une rencontre unique entre innovation et créativité, pensée pour atteindre vos objectifs
                    commerciaux avec succès</p>
                <Button href="#contact" className="w-fit mt-12 scale-125" label="Travailler ensemble"/>
                <div style={{
                    background: `radial-gradient(rgb(var(--colors-surface)/1) 0%,rgb(var(--colors-surface)/0) 50%) no-repeat`,
                }} class="absolute top-0 left-0 w-full h-full -z-10 scale-[3]"></div>
            </div>
        </div>
    </section>

    <section id="" class=" relative">
        <Realisations/>
    </section>
</Layout>